/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.ag-theme-alpine .ag-header-group-cell {
  font-weight: 600;
  font-size: 12px;
}
.ag-theme-alpine .ag-header-cell {
  font-size: 10px;
}
.backgroundColor {
  background-color: red;
}
.ag-theme-alpine {
  &:hover {
    --ag-header-active: red;
  }
}
